.main_container {
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.main_container .logo_container {
  display: flex;
  align-items: end;
}

.container1 {
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.container2 {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  text-align: center;
  justify-content: center;
}
